server:
  port: 8080

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      routes:
        - id: student-service
          uri: lb://student-service # lb = Load Balanced
          predicates:
            - Path=/students/**

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/