server:
  port: 8081

spring:
  application:
    name: student-service
  h2:
    console:
      enabled: true # Access DB at /h2-console

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/